@{
    ViewBag.Title = "ImportantEventHandled";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Neusoft.CCS.Services.ViewModels; @*导入视图模型所在命名空间*@
@using Neusoft.CCS.Services.Messages;@*导入SOA基本模式“请求-相应”模型消息所在命名空间*@

@*指定该页面模型的类型*@
@model Neusoft.CCS.Services.Messages.LoadingImptEvtStaffFormResponse

@section title{
    重大事件处理
}

@*客户端模型验证脚本开启*@
@{Html.EnableClientValidation(true);}

@if (Model.IsSuccess)
{
    using (Html.BeginForm("ImportantEventHandled", "ImportantEventStaff", FormMethod.Post))
    {
        <table border="1px">
            @Html.HiddenFor(s => s.ImptEvtStaffForm.CaseID)
            @Html.HiddenFor(s => s.ImptEvtStaffForm.ImptEvtStaffID)
            @Html.HiddenFor(s => s.ImptEvtStaffForm.BeginTime)
            <tr>
                <td>@Html.LabelFor(s => s.ImptEvtStaffForm.ComplaintDate)</td>
                <td>@Model.ImptEvtStaffForm.ComplaintDate</td>
            </tr>

            <tr>
                <td>@Html.LabelFor(s => s.ImptEvtStaffForm.Class)</td>
                <td>@Model.ImptEvtStaffForm.Class</td>
            </tr>

            <tr>
                <td>@Html.LabelFor(s => s.ImptEvtStaffForm.Describe)</td>
                <td>@Model.ImptEvtStaffForm.Describe</td>
            </tr>

            <tr>
                <td>@Html.LabelFor(s => s.ImptEvtStaffForm.Name)</td>
                <td>@Model.ImptEvtStaffForm.Name</td>
            </tr>

            <tr>
                <td>@Html.LabelFor(s => s.ImptEvtStaffForm.Satisfaction)</td>
                <td>@Model.ImptEvtStaffForm.Satisfaction</td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(s => s.ImptEvtStaffForm.ReturnVisitContent)
                </td>
                <td>
                    @Model.ImptEvtStaffForm.ReturnVisitContent
                </td>
            </tr>


            <tr>
                <td>
                    @Html.LabelFor(s => s.ImptEvtStaffForm.ComplaintReason)
                </td>
                <td>
                    @Model.ImptEvtStaffForm.ComplaintReason
                </td>
            </tr>


            <tr>
                <td>
                    @Html.LabelFor(s => s.ImptEvtStaffForm.Content)
                </td>
                <td>
                    @Html.EditorFor(s => s.ImptEvtStaffForm.Content)
                </td>
            </tr>




            <tr>
                <td colspan="2" align="right">
                    @*按钮没有相应的HtmlHelper方法，故必须自己写*@
                    <input type="submit" id="btnSure" value="提 交" />
                    <input type="reset" id="btnCancel" value="取 消" />
                </td>
            </tr>

        </table>
    }
}
else
{
    <text>@Model.ErrorMessage</text>
}

